@using eShop.Web.Services
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            <a href="/">Products</a> |
            <a href="/cart">Cart (@CartService.CartItems.Count)</a> |
            <a href="/product/create">Add Products</a> |
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    [Inject] private CartService CartService { get; set; }
}
<NavMenu />